@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #0f1a2c;
  --secondary-color: #f6ac0f;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --extra-light: #f8fafc;
  --white: #ffffff;
  --gradient: linear-gradient(to right bottom, #ffd43b, #ff9900);

  --ff: "Playfair Display", serif;

  /*define 1rem = 16px*/
  font-size: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

/*CABEÇALHO*/
.section_container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 5rem 1rem;
}

header {
  background-color: var(--primary-color);
  height: 100px;
}

.navbar_container {
  max-width: 1400px;
  background-color: var(--white);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 1rem 2rem;
  transform: translateY(35%);
}

.navbar_logo img {
  margin-top: 15px;
  max-width: 250px;
  display: block;
}

/* Items Menu */

.navbar_links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar_links a {
  color: var(--text-dark);
  font-weight: 600;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  transition: 0.3s;
}

.navbar_links a:hover {
  color: var(--white);
  background-color: var(--secondary-color);
  padding: 0.7rem 1rem;
}

/* Busca */
.search-box {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--secondary-color);
  border-radius: 0 0 10px 10px;
  padding-bottom: 0.1rem; /* corrigido aqui */
  margin-left: 2rem;
}

.search-box input {
  border: none;
  outline: none;
  padding-left: 1rem;
  font-style: italic;
  font-size: 1rem;
  color: var(--text-dark);
  width: 230px;
}

.search {
  border: none;
  background: none;
  font-size: 1rem;
  padding-left: 0.5rem;
  cursor: pointer;
}

.navbar_toggle {
  font-size: 2rem;
  border: none;
  background: none;
  color: var(--text-dark);
  cursor: pointer;
  transition: 0.4s;
  display: none;
}

.navbar_toggle ion-icon:hover {
  color: var(--secondary-color);
}

/*menu mobile*/
#mobileMenu {
  position: absolute;
  top: 85px;
  right: 20px;
  width: 240px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 1.2rem 1rem;
  opacity: 1;
  transform: translateY(-15px);
  z-index: 999;
}

#mobileMenu li {
  width: 100%;
  border-bottom: 1px solid var(--extra-light);
  padding: 0.6rem 0;
}

#mobileMenu li:last-child {
  border-bottom: none;
}

#mobleMenu a:hover {
  border-bottom: none !important;
  transform: translateX(4px);
}

#mobileMenu a {
  display: block;
  transition: 0.25s ease;
  text-decoration: none;
}

/*Quando o JavaScript ativar*/
#mobileMenu.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  opacity: 1;
  transform: translateY(0);
}

/* ===== CAIXA DE SELEÇÃO ===== */
.language-selector {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--white);
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 3px 6px;
  cursor: pointer;
  transition: 0.3s;
}

.language-selector:hover {
  background: var(--secondary-color);
}

.lang-icon {
  font-size: 1.3rem;
  color: var(--secondary-color);
  transition: color 0.3s;
}

.language-selector:hover .lang-icon {
  color: var(--primary-color);
}

.lang-select {
  border: none;
  outline: none;
  background: transparent;
  font-weight: 600;
  color: var(--text-dark);
  font-size: 0.95rem;
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 6px;
  width: 60px;
}

.language-selector:hover .lang-select {
  color: var(--primary-color);
}

.hero_container h1 {
  color: var(--white);
  font-size: 4rem;
  font-family: var(--ff);
  font-weight: 800;
  animation: slide-up 2s ease-out forwards;
}
.hero-section {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.hero-section video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(60%);
}

.hero_container .btn {
  background: var(--gradient);
  padding: 0.7rem 2.5rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 2rem;
  animation: slide-up 2s ease-out forwards;
  opacity: 0;
}

.btn:hover {
  box-shadow: 0 0 12px rgba(255, 155, 0, 0.6);
}
    
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Reserva */

.reserva {
  background: var(--primary-color);
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.reserva-container{
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 2rem;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding-bottom: 0.5rem;
  padding-right: 0.7rem;
  border-bottom: 2px solid var(--white);
  color: var(--secondary-color);
  border-radius: 0 0 10px 10px;
  cursor: pointer;
} 

.input-box ion-icon {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.input-box input {
  border: none;
  outline: none;
  background: transparent;
  color: var(--white);
  font-size: 1rem;
  width: 160px;
}

.input-box select {
  border: none;
  outline: none;
  background: transparent;
  color: var(--white);
  font-size: 1rem;
  width: 120px;
}

.input-box select option {
  color: var(--text-dark);
}

/*sobre nós*/
.about-section {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.6)
  ),
  url("../img/about_background.jpg");
  background-size: cover;
  background-position: center; 
  padding-block: 6rem;
  padding: 4rem 2rem;
}

.about-container {
  max-width: 1400px;
  margin: auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  align-items: center;
}

.about-column .about-card {
  /*aspect-ratio:

  1/1 = quadrado perfeito
  4/3 = fotografia antiga
  16/9 = widescreen
  3/2 = fotografia
  21/9 = ultra widescreen
  */

  aspect-ratio: 16/9;
}

.about-grid {
  display: flex;
  gap: 1rem;
}

.about_column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.about-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: ease 0.3s;
}

.about-card {
  border-radius: 10px;
  overflow: hidden;
}

.about-card img:hover {
  transform: scale(1.05);
}

.btn {
  background: var(--gradient);
  padding: 0.7rem 2.5rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: ease 0.3s;
}

.about-grid .about_column:nth-child(2) {
  transform: translateY(3rem);
}

/* Equipe */
.equipe {
  padding: 80px 20px;
  background: var(--primary-color);
  text-align: center;
  font-family: var(--ff-playfair);
  color: var(--white);
}

.titulo-secao h2 {
  font-size: 2.8rem;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.titulo-secao p {
  color: var(--extra-light);
  font-size: 1.2rem;
  margin-bottom: 50px;
}

/* ===== FLEXBOX ===== */
.cards-equipe {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 40px;
  max-width: var(--max-width);
  margin: 0 auto;
}

/* ===== CARD ===== */
.card {
  background: #fff;
  border-radius: 20px;
  padding: 30px 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 calc(33.333% - 40px); /*1 1 300px; */
  max-width: 380px;
  animation: fadeUp 0.8s ease forwards;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

/* ===== AVATAR ===== */
.avatar {
  position: relative;
  width: 140px;
  height: 140px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border: 3px solid var(--secondary-color);
  transition: transform 0.3s ease;
}

.avatar:hover {
  transform: scale(1.05);
}

/* ===== OVERLAY ===== */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(15, 26, 44, 0.7);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s ease;
}

.avatar:hover .overlay {
  opacity: 1;
}

/* ===== REDES SOCIAIS ===== */
.social {
  display: flex;
  gap: 14px;
}

.social a {
  color: var(--white);
  font-size: 1.4rem;
  width: 38px;
  height: 38px;
  border: 1px solid var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.social a:hover {
  background: var(--secondary-color);
  border-color: transparent;
  transform: scale(1.1);
}

.social a:hover ion-icon {
  transform: rotate(10deg);
  transition: transform 0.3s ease;
}

/* ===== TEXTO ===== */
.card h3 {
  color: var(--primary-color);
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 8px;
}

.card p {
  color: var(--text-light);
  font-size: 1rem;
  line-height: 1.6;
}

/* ===== IMAGENS ===== */
.membro1 .avatar {
  background-image: url('../img/foto01.jpg');
}

.membro2 .avatar {
  background-image: url('../img/foto02.jpg');
}

.membro3 .avatar {
  background-image: url('../img/foto03.jpg');
}

.membro4 .avatar {
  background-image: url('../img/foto04.jpg');
}

.membro5 .avatar {
  background-image: url('../img/foto05.jpg');
}

.membro6 .avatar {
  background-image: url('../img/foto06.jpg');
}

/* ===== ANIMAÇÃO DE ENTRADA ===== */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card:nth-child(1) {
  animation-delay: 0.2s;
}
.card:nth-child(2) {
  animation-delay: 0.4s;
}
.card:nth-child(3) {
  animation-delay: 0.6s;
}
.card:nth-child(4) {
  animation-delay: 0.8s;
}
.card:nth-child(5) {
  animation-delay: 1s;
}
.card:nth-child(6) {
  animation-delay: 1.2s;
}

@media (min-width: 1024px) {
  #mobileMenu {
    display: none;
  }
}

/*RESPONSIVIDADE*/
@media (max-width: 1400px) {
  .navbar_logo img {
    max-height: 90px;
  }

  .navbar_links a {
    font-size: 0.8rem;
  }

  .search-box input {
    width: 200px;
  }
}

@media (max-width: 1024px) {
  .navbar_container {
    transform: none !important;
    height: 80px;
    border-radius: 0;
  }

  .header {
    height: 80px;
  }

  .navbar_links {
    display: none;
  }

  .navbar_toggle {
    display: block;
    font-size: 2rem;
  }

  .navbar_logo img {
    height: 75px;
  } .hero_container {
    margin-bottom: 1rem;
  }

  .hero_container h1 {
  font-size: 3rem;
  line-height: 1.2;
  }

  .hero-section {
    height: 80vh;
    padding-bottom: 0;
  }

  .hero-section .hero_container {
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
  }

  .hero_container .btn {
    font-size: 1rem;
    padding: 0.6rem 2rem;
  }

  .hero-section video {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  /* reserva */
  .reserva{
    padding: 2rem 1rem;
    bottom: 0;
  }

  .reserva-container{
    gap: 1.5rem;
  }

  .input-box input
  .input-box select{
    width: 100%;
  }

  .reserva .btn {
    padding: 0.6rem 1.5rem;
    font-size: 0.9rem;
  }

}

@media (max-width: 768px) {

  .search-box {
    display: none;
  }

  .navbar_logo img {
    height: 50px;
  }

  .language-selector {
    display: none;
  }

  /* hero */
  .hero-section {
    height: 85vh;
    padding-bottom: 15rem;
  }

  .hero-container {
    justify-content: center !important;
    align-items: center !important;
    text-align: center; 
  }

  .hero_container h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 480px) {

  .hero-container h1 {
    font-size: 1.5rem;
  }

  .hero-container .btn {
    font-size: 0.9rem;
    padding: 0.5rem 1.5rem;
  }
}